// fontsize
$title: 24px;
$header-large: 20px;
$header-medium: 16px;
$header-small: 14px;
$p-primary: 14px;
$p-small: 12px;
$title: 24px;

// icon
$icon-large: 48px;
$icon-medium: 24px;
$icon-small: 16px;

%line-height-default {
	line-height: 1.5;
}

@mixin fontMedium($fontsize) {
	font-size: $fontsize;
	font-weight: 500;
	@extend %line-height-default;
}

@mixin fontRegular($fontsize) {
	font-size: $fontsize;
	font-weight: 400;
	@extend %line-height-default;
}

%title {
	@include fontMedium($title);
}

%header-large {
	@include fontMedium($header-large);
}

%header-medium {
	@include fontMedium($header-medium);
	color: $title-color;
}

%header-small {
	@include fontMedium($header-small);
}

%p-primary {
	@include fontRegular($p-primary);
	color: $p-primary-color;
}

%p-secondary {
	@include fontRegular($p-primary);
}

%p-small {
	@include fontRegular($p-small);
}
