.bp-datepicker {}

.bp-datepicker-wrapper {
    display: inline-block;
    width: 312px;
    padding: 18px 16px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);
    border-radius: 4px;
}

.bp-datepicker-header {
    margin-bottom: 16px;
}

.bp-datepicker-btn {
    cursor: pointer;

    svg path {
        fill: #505F79;
    }
}

.bp-datepicker-body {
    table {
        width: 100%;
        table-layout: fixed;
        text-align: center;

        thead tr th {
            @extend %p-small;
            padding-bottom: 8px;
        }

        tbody tr td {
            height: 32px;
            cursor: pointer;

            // @extend %p-primary;
            &:hover {
                background-color: #EBECF0;
                // border-radius: 50%;
            }
        }

        tbody {
            @extend %p-primary;
        }

    }

    .today {
        color: #3172E0;
    }

    .active {
        background-color: #505F79;
        color: #fff;
    }
}