.bp-input {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	&.input-inline {
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}


	.input-label-text {
		margin-bottom: 2*$spacing-compact;
		@extend %p-primary;
		color: $n600;
	}

	.input-help-text {
		margin-bottom: 2*$spacing;
		@extend %p-primary;
		color: $n100;
	}

	.input-container {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		height: 32px;

		&.reverse {
			.input-prepend {
				-webkit-box-ordinal-group: 3;
				-webkit-order: 2;
				-ms-flex-order: 2;
				order: 2;

				span {
					border-radius: 0 4px 4px 0;
				}
			}

			input {
				border-radius: 4px 0 0 4px;
			}

		}

		.input-prepend {
			margin-right: -1px;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;

			span {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				padding: 0 $spacing;
				@extend %p-primary;
				color: $n600;
				white-space: nowrap;
				background-color: $n030;
				border-radius: 4px 0 0 4px;
			}
		}

		input {
			margin-bottom: 0;
			padding: 0 0 0 $spacing;
			width: 240px;
			height: 100%;
			@extend %p-primary;
			color: $n600;

			border: {
				width: 1px;
				style: solid;
				radius: $radiusSize;
				// radius: 0 4px 4px 0;
			}

			&::-webkit-input-placeholder {
				color: $n500;
			}

			&:focus {
				outline: none;
				border-color: $b400;
			}

			&:disabled {
				border: 0;
				background-color: $n020;
			}

			&.input-default {
				border-color: $n040;

				&:focus {
					outline: none;
					border-color: $b400;
				}
			}

			&.input-error {
				border-color: $r400;
			}

			&.input-success {
				border-color: #36B37E;
			}

			&.input-warning {
				border-color: $y300;
			}
		}

	}

	&.medium-size {
		.input-container {
			height: 38px;
		}
	}

	&.large-size {
		.input-container {
			height: 48px;
		}
	}

	.length-hint {
		margin-top: 2*$spacing-compact;
		@extend %p-small;
		color: $n100;
	}
}
