.bp-radar {
	height: 320px;

	.echarts-chart {
		height: 340px;
		width: 320px;
	}
}

.bp-circle {
	&.size-default {
		height: 192px;
		width: 368px;
	}

	&.size-auto {
		// height: 144px;
		height: 100%;
		width: 100%;
	}

	&.size-small {
		height: 45px;
		width: 45px;
	}

	.echarts-chart {
		height: 100%;
		width: 100%;
	}
}

.bp-gauge {
	width: 180px;
	height: 180px;

	.echarts-chart {
		height: 100%;
		width: 100%;
	}
}
