%ph-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

%flex-rb {
  @extend %ph-layout;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

%main-s {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

%main-e {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

%main-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

%main-b {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

%main-a {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

%cross-s {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

%cross-e {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

%cross-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

%cross-t {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

%cross-b {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

//	方向为 row 情况下的主轴(main)下的对齐方式

.row-ms {
  @extend %flex-rb;
  @extend %main-s;

  // composes: main-s;
}

.row-me {
  @extend %flex-rb;
  @extend %main-e;
}

.row-mc {
  @extend %flex-rb;
  @extend %main-c;
}

.row-mb {
  @extend %flex-rb;
  @extend %main-b;
}

.row-ma {
  @extend %flex-rb;
  @extend %main-a;
}

//	方向为 row 情况下的交叉轴(cross)下的对齐方式

.row-cs {
  @extend %flex-rb;
  @extend %cross-s;

}

.row-ce {
  @extend %flex-rb;
  @extend %cross-e;
}

.row-cc {
  @extend %flex-rb;
  @extend %cross-c;
}

.row-cd {
  @extend %flex-rb;
  @extend %cross-t;
}

.row-cb {
  @extend %flex-rb;
  @extend %cross-b;

}

//	定义方向为 col
%flex-cb {
  @extend %ph-layout;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

//	方向为 col 情况下的主轴(main)下的对齐方式

.col-ms {
  @extend %flex-cb;
  @extend %main-s;
}

.col-me {
  @extend %flex-cb;
  @extend %main-e;
}

.col-mc {
  @extend %flex-cb;
  @extend %main-c;
}

.col-mb {
  @extend %flex-cb;
  @extend %main-b;
}

.col-ma {
  @extend %flex-cb;
  @extend %main-a;
}

//	方向为 col 情况下的交叉轴(cross)下的对齐方式
.col-cs {
  @extend %flex-cb;
  @extend %cross-s;

}

.col-ce {
  @extend %flex-cb;
  @extend %cross-e;
}

.col-cc {
  @extend %flex-cb;
  @extend %cross-c;
}

.col-cd {
  @extend %flex-cb;
  @extend %cross-t;
}

.col-cb {
  @extend %flex-cb;
  @extend %cross-b;
}

//	是否折行
.is-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

// 多行对齐样式
.mul-s {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.mul-e {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.mul-c {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.mul-b {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.mul-a {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.mul-d {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
