@import './common/color';
@import './common/spacing';
@import './common/border';
@import './common/size';

@mixin btn-type($color, $bordercolor, $bgcolor) {
	color: $color;
	background-color: $bgcolor;
	border-color: $bgcolor;
}

@mixin btn-focus($shoadowColor) {
	-webkit-box-shadow: 0 0 0 2px $shoadowColor;
	box-shadow: 0 0 0 2px $shoadowColor;
}

.p-btn {
	padding: 0 6*$spacing-compact;
	height: 4*$spacing;
	line-height: 4*$spacing;
	min-width: 80px;
	@extend %border-medium;
	font-size: 14px;
	text-align: center;
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
		color: $n060 !important;
		background-color: $n020 !important;
		border-color: $n020 !important;
	}

	&.btn-block {
		display: block;
	}

	.btn-icon {
		width: $icon-small;
		height: $icon-small;
		vertical-align: sub;

	}

	&.icon-only {
		min-width: 32px;
	}

	&.default {
		@include btn-type($n400, rgba(9, 30, 66, 0.04), rgba(9, 30, 66, 0.04));
	}

	&.subtle {
		@include btn-type($n400, transparent, transparent);
	}

	&.link {
		@include btn-type($link, transparent, transparent);
	}

	&.link-subtle {
		@include btn-type($link-subtle, transparent, transparent);
	}

	&.primary {
		@include btn-type($n000, $primary, $primary);

		&:focus {
			@include btn-focus(rgba(94, 129, 207, .5))
		}
	}

	&.secondary {
		@include btn-type(#999, #999, #FFF);

		&.reverse {
			@include btn-type(#FFF, #FFF, #575757);
		}
	}

	&.danger {
		@include btn-type(#FFF, $danger, $danger);
	}

	&.warning {
		@include btn-type($n400, $warning, $warning);
	}
}
