@import './bp-table/tbody';
@import './bp-table/thead';

.bp-table {
	position: relative;
	overflow: hidden;
}
.bp-table-empty {
	margin: 16px 0;
	p {
		@extend %p-primary;
		text-align: center;
	}
}
.bp-table-fixed-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	.bp-table-thead-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
	}
	.bp-table-tbody-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
	}
}

.wrapper-shadow .bp-table-fixed-wrapper {
	box-shadow: 0 0 10px rgba(0,0,0,.12)
}