$primary: #3172E0;
$white: #fff;
$error: #DE350B;
$warning: #FFAB00;
$title-color: #172B4D;
$p-primary-color: #344563;
$p-secondary-color: #7A869A;
$placeholder-color: #8993A4;
$choosed-color: #42526E;
$state-disabled-color: #B3BAC5;
