// main color
$primary: #3172E0;
$white: #fff;
$black: #000;
$danger: #DE350B;
$warning: #FFAB00;

// neutrrals  color
$n900: #091E42;
$n800: #172B4D;
$n600: #344563;
$n500: #42526E;
$n400: #505F79;
$n300: #5E6C84;
$n100: #7A869A;
$n090: #8993A4;
$n080: #97A0AF;
$n060: #B3BAC5;
$n040: #DFE1E6;
$n030: #EBECF0;
$n020: #F4F5F7;
$n010: #FAFBFC;
$n000: $white;

// neutrrals Alpha color
$n900a: #091E42;
$n800a: rgba($color: $n900, $alpha: 0.95);
$n600a: rgba($color: $n900, $alpha: 0.82);
$n500a: rgba($color: $n900, $alpha: 0.77);
$n400a: rgba($color: $n900, $alpha: 0.71);
$n300a: rgba($color: $n900, $alpha: 0.66);
$n100a: rgba($color: $n900, $alpha: 0.54);
$n090a: rgba($color: $n900, $alpha: 0.48);
$n080a: rgba($color: $n900, $alpha: 0.42);
$n060a: rgba($color: $n900, $alpha: 0.31);
$n040a: rgba($color: $n900, $alpha: 0.13);
$n030a: rgba($color: $n900, $alpha: 0.08);
$n020a: rgba($color: $n900, $alpha: 0.04);
$n010a: rgba($color: $n900, $alpha: 0.02);
$n000a: rgba($color: $n900, $alpha: 0);

// primary
$b500: #2355A9;
$b400: #3172E0;
$b300: #3881FF;
$b200: #579AFF;
$b100: #73ABFF;
$b075: #C2DAFF;
$b050: #E1ECFF;

// danger
$r500: #BF2600;
$r400: $danger;
$r300: #FF5630;

// warning
$y400: #FF991F;
$y300: $warning;
$y200: #FFC400;

// success
$g300: #36B37E;
