$primary: #3172E0;
$white: #fff;
$black: #000;
$danger: #DE350B;
$warning: #FFAB00;
$title-color: #172B4D;
$p-primary-color: #344563;
$p-secondary-color: #7A869A;
$placeholder-color: #8993A4;
$choosed-color: #42526E;
$state-disabled-color: #B3BAC5;
$link: #3172E0;
$link-subtle: #5E6C84;
$n900: #091E42;
$n800: rgba($color: $n900, $alpha: 0.94);
$n600: rgba($color: $n900, $alpha: 0.82);
$n500: rgba($color: $n900, $alpha: 0.76);
$n400: rgba($color: $n900, $alpha: 0.71);
$n300: rgba($color: $n900, $alpha: 0.66);
$n100: rgba($color: $n900, $alpha: 0.54);
$n090: rgba($color: $n900, $alpha: 0.48);
$n060: rgba($color: $n900, $alpha: 0.30);
$n040: rgba($color: $n900, $alpha: 0.13);
$n030: rgba($color: $n900, $alpha: 0.08);
$n020: rgba($color: $n900, $alpha: 0.04);
$n010: rgba($color: $n900, $alpha: 0.02);
$n000: $white;
