%shadow-z100 {
	box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.12), 0 1px 1px 0 rgba(9, 30, 66, 0.25);
}

%shadow-z200 {
	box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);
}

%shadow-z300 {
	box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25);
}

%shadow-z400 {
	box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25);
}
