.bp-table-tbody-wrapper {
    table-layout: fixed;
    height: 100px;
    overflow: auto;
    td {
        @extend %p-primary;
        padding: 12px 8px;
        text-align: left;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    &.row-hover {
        tr:hover {
            background-color: rgba(9,30,66,0.04);

        }
    }
}