.bp-table-tbody-wrapper {
    overflow-x: auto;
    background-color: #fff;
    &.hover-none {
        .hover-row {
            background-color: inherit;
        }
    }
}
.bp-table-tbody {
    width: 100%;
    table-layout: fixed;
   
    td {
        padding: 12px 8px;
        @extend %p-primary;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }

    }

}
.hover-row {
    background-color: rgba(9,30,66,0.04);
}