{{#if title}}
	<p class="bp-radio-title">{{title}}</p>
{{/if}}
{{#choose-group
	type="radio" 
	vertical=vertical 
	value=curValue
	onChange=(action (mut curValue )) as |choose|}}
	{{#each radios as |radio|}}
		{{choose.item radio=radio}}
	{{/each}}
{{/choose-group}}