<input type="text" class="search-input" placeholder={{placeholder}} aria-label="searchbar" onchange={{action 'change'}}>
<div class="search-suffix">
	{{#bp-button class="input-group-text" type="primary" onClick=(action 'search')}}
		搜索
	{{/bp-button}}
</div>