<div {{action 'changeShowProperty'}} class="dd-title">
	{{#if icon}}
		{{bp-icon icon=icon color=iconColor size=iconSize}}
	{{/if}}
	{{title}}
</div>
<ul class="bp-nav-dd-ul">
	{{yield
			(hash
				item=(component ddItem)
				link-to=(component ddLinkTo)
			)
		}}
</ul>