{{#bp-tabs selection=selection as |tabs|}}
	{{#tabs.tablist as |tablist|}}
		<ul role="presentation">
			<li role="presentation">
				{{#tablist.tab "TabA" on-select=(action (mut selection))}}Foo{{/tablist.tab}}
			</li>
			<li role="presentation">
				{{#tablist.tab "TabB" on-select=(action (mut selection))}}Bar{{/tablist.tab}}
			</li>
			<li role="presentation">
				{{#tablist.tab "TabC" on-select=(action (mut selection))}}Baz{{/tablist.tab}}
			</li>
		</ul>
	{{/tabs.tablist}}
	{{#tabs.tabpanel "TabA"}}
		<h2>Foo</h2>
	{{/tabs.tabpanel}}
	{{#tabs.tabpanel "TabB"}}
		<h2>Bar</h2>
	{{/tabs.tabpanel}}
	{{#tabs.tabpanel "TabC"}}
		<h2>Baz</h2>
	{{/tabs.tabpanel}}
{{/bp-tabs}}