<table class="bp-table-thead">
	{{bp-table/colgroup columns=columns scrollBarExit=scrollBarExit gutterWidth=gutterWidth}}
	<thead>
		{{#each columns as |column index|}}
			{{bp-table/thead-cell column=column index=index columnsLength=columns.length sortItem=sortItem onClick=(action 'theadCellClick')}}
		{{/each}}
		{{#if scrollBarExit}}
			<th class="gutter" style={{gutterWidth}}></th>
		{{/if}}
	</thead>
</table>