 <table class="bp-table-thead">
     {{bp-table/colgroup columns=columns}}
    <thead>
      {{#each columns as |column|}}
        {{bp-table/thead-cell column=column}}
      {{/each}}
    </thead>
  </table>